header {
  font-size: 50px;
  font-family: serif;
  color: #cc3300;
  text-shadow: 1px 1px 6px grey;
  text-align: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("images/coffee.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

form {
  text-align: center;
}

input[type=text], input[type=password] {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
}

button {
  background-color: #cc3300;
  color: white;
  width: 100px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px;
}

img.avatar {
  width: 15%;
  border-radius: 50%;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  padding-top: 45px;
  padding-bottom: 45px;
  margin-left: 500px;
  margin-right: 500px;
}
